@model Airport.Models.Ticket

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете избрания елемент?</h3>
<div>
    <h4>Билет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ticketCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ticketCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfJourney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfJourney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedule.flightId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedule.flightId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ticketId" />
        <input type="submit" value="Изтрий" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-info" asp-action="Index">Обратно в списъка</a>
    </form>
</div>
