@model Airport.Models.Schedule

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете избрания елемент?</h3>
<div>
    <h4>Разписание</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.scheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.scheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.departureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.departureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.city)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline.airlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline.airlineName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="flightId" />
        <input type="submit" value="Изтрий" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-info" asp-action="Index">Обратно в списъка</a>
    </form>
</div>
