@model IEnumerable<Airport.Models.Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Мениджър на Дестинации</h1>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">Добави нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distance)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.destinationId">Редактирай</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.destinationId">Детайли</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.destinationId">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
