@model Airport.Models.Airline

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детайли</h1>

<div>
    <h4>Авиокомпания</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.airlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.airlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@Model.airlineId">Редактирай</a>
    <a class="btn btn-sm btn-info" asp-action="Index">Обратно в списъка</a>
</div>
