@model IEnumerable<Airport.Models.Airline>

@{
    ViewData["Title"] = "Авиокомпании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Мениджър на Авиокомпании</h1>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">Добави нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.airlineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.airlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.airlineId">Редактирай</a>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.airlineId">Детайли</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.airlineId">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
